@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
:root {
  --body-bg: #202123;
  --msger-bg: #444654;
  --left-msg-bg: #8b8da9;
  --right-msg-bg: #16171c;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Inter";
  transition: 0.3s all ease;
}

* ul {
  list-style: none;
}

* .tablink {
  cursor: pointer;
}

* a {
  text-decoration: none;
  cursor: pointer !important;
}

*.nonActive {
  display: none !important;
}

* button {
  cursor: pointer !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  min-height: 100%;
}

body.dark .welcome-chat-wrapper {
  background: url("../assets/background-dark.jpg");
  background-repeat: no-repeat;
}
body.dark #mainHeader {
  background: #0F131B;
  border-bottom: 1px solid #2A2F39;
}
body.dark #mainHeader a {
  color: white;
}
body.dark #mainHeader a:hover {
  color: #13B8A6;
  background: #101F25;
}
body.dark #mainHeader a.active {
  color: #13B8A6;
  background: #101F25;
}
body.dark #mainHeader button {
  background: #101F25;
}
body.dark #mainHeader #tokensLeft {
  color: white;
}
body.dark textarea {
  color: white;
}
body.dark .sidebarLeft {
  background: #080C13;
}
body.dark .addChatIcon {
  color: white;
}
body.dark button.buttonTool {
  background: rgba(255, 255, 255, 0.1);
}
body.dark .menu-items a {
  color: #525459;
}
body.dark .welcome-chat h2 {
  color: white;
}
body.dark .welcome-chat p {
  color: #A4A4A4;
}
body.dark h2 {
  color: white;
}

body.light {
  background: white;
}
body.light header#mainHeader {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(42, 47, 57, 0.1);
}
body.light header#mainHeader a {
  color: black;
}
body.light header#mainHeader a:hover {
  color: #13B8A6;
  background: rgba(19, 184, 166, 0.1);
}
body.light header#mainHeader a.active {
  color: #13B8A6;
  background: rgba(19, 184, 166, 0.1);
}
body.light header#mainHeader button {
  background: rgba(19, 184, 166, 0.1);
}
body.light header#mainHeader #tokensLeft {
  color: black;
}
body.light .sidebarMain {
  background: #F5F5F5 !important;
}
body.light .addChatIcon {
  color: white;
}
body.light .folderBtn .buttonOpen {
  color: #626262;
}
body.light .folderBtn .buttonOpen:hover {
  background: #DFDFDF;
}
body.light .tablink p {
  color: #626262;
}
body.light .welcome-chat h2 {
  color: black !important;
}
body.light .welcome-chat span {
  color: rgba(0, 0, 0, 0.6);
}
body.light .add-chat, body.light .add-folder {
  color: #626262;
}
body.light .add-chat:hover, body.light .add-folder:hover {
  background: #DFDFDF;
}
body.light .msger, body.light .msger-chat, body.light .messageInput {
  background: #FFFFFF;
}
body.light .messageInput {
  border-top: 1px solid #DDDDDD;
}
body.light .messageInput textarea {
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
}
body.light .promptBtn {
  background: #E8F8F7;
}
body.light .menu-items {
  border-top: 1px solid #DDDDDD;
}
body.light a.menu-item:hover {
  background: #DFDFDF;
}
body.light .folderRow {
  border-bottom: 1px solid #DDDDDD;
}
body.light .folderRow form button {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #626262;
}
body.light #settingsTab .popupContent {
  background: #FFFFFF;
}
body.light #settingsTab .popupContent .popup-setting-content.withoutBorder button {
  background: #DFDFDF;
  color: #626262;
}
body.light #settingsTab .popupContent .popup-setting-content.withoutBorder .modelSettings {
  background: #DFDFDF;
  color: #626262;
}
body.light #settingsTab .popupContent .popup-setting-content.withoutBorder input {
  color: #626262;
}
body.light #settingsTab .popupContent .popup-setting .popup-setting-title {
  color: rgba(0, 0, 0, 0.6);
}
body.light #settingsTab .popupContent .popup-setting-desc {
  color: rgba(0, 0, 0, 0.4);
}
body.light #settingsTab .popupContent .popup-setting-content button {
  background: #EDEDED;
  color: #6C6C6C;
}
body.light #settingsTab .popupContent .popup-setting-content button.active {
  background: #13B8A6;
  color: white;
}
body.light #settingsTab .popupContent .popup-setting-content button.active svg path {
  fill: white;
}
body.light #settingsTab .popupContent svg path {
  fill: #8E8E8F;
}
body.light #settingsTab .popupContent .button-save svg path {
  fill: white;
}
body.light #settingsTab .popupContent .popup-setting-content.withoutBorder .modelSettings .secondRow button {
  background: #CDCDCD;
}
body.light form.menu-item button svg path {
  fill: #8E8E8F;
}
body.light form.menu-item button:hover {
  background: #DFDFDF;
}
body.light .addChatIcon:hover {
  background: #DFDFDF;
}
body.light .svgPath path {
  fill: #8E8E8F;
}
body.light button.buttonTool {
  background: rgba(255, 255, 255, 0.1);
}
body.light .menu-items a {
  color: #525459;
}
body.light .welcome-chat h2 {
  color: white;
}
body.light .welcome-chat p {
  color: #A4A4A4;
}
body.light h2 {
  color: #626262;
}
body.light .msg.right-msg .msg-header {
  color: black;
}
body.light .msg-bubble .msg-text {
  color: rgba(0, 0, 0, 0.6);
}

#mainHeader {
  height: 78px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
#mainHeader .navbar {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}
#mainHeader .navbar ul {
  display: flex;
  gap: 20px;
}
#mainHeader .navbar ul li a {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
}
#mainHeader .navbar button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 38px;
}
#mainHeader .navbar button#settings.active {
  background: #13B8A6;
}
#mainHeader .navbar button#settings.active svg path {
  fill: white;
}
#mainHeader * p {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  width: 100%;
}
#mainHeader #tokensLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.sidebarMain {
  width: 430px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  background: #080C13;
  z-index: 2;
  height: calc(100% - 78px);
  padding: 40px 40px 20px 40px;
  margin-top: 78px;
}
.sidebarMain .first-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebarMain.left {
  left: 0px;
}
.sidebarMain.right {
  right: 0px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  border-top: 1px solid #2A2F39;
}
.menu-items form button, .menu-items a {
  padding: 15px 20px;
  display: flex;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  background: none;
  border: none;
  font-size: 15px;
  color: #525459;
  align-items: center;
  margin-top: 10px;
}
.menu-items form button:hover, .menu-items a:hover {
  background: #1D2129;
}

.folderRow {
  display: flex;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #2A2F39;
}
.folderRow form {
  width: 100%;
}
.folderRow form button {
  height: 46px;
  border: 1px solid #2A2F39;
  width: 100%;
  border-radius: 10px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  font-size: 15px;
}

.systemRole {
  margin-top: 20px;
  background: #191F29;
  border: 1px solid #374151;
  border-radius: 8px;
  padding: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #757D8A;
  position: relative;
}
.systemRole:hover .hoverItems {
  opacity: 1;
}
.systemRole .hoverItems {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(25, 31, 41, 0) 0%, #191F29 100%);
  padding: 20px;
  gap: 8px;
}
.systemRole .hoverItems button {
  width: 100%;
  height: 38px;
  background: #272B34;
  border: 1px solid #374151;
  border-radius: 10px;
}
.systemRole .formSystemRole textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background: none;
  border: none;
  height: auto;
  min-height: auto;
  max-height: auto;
  color: white;
  margin-bottom: 20px;
}
.systemRole .formSystemRole textarea:focus {
  outline: none;
}
.systemRole .formSystemRole .buttons {
  display: flex;
  gap: 10px;
}
.systemRole .formSystemRole .buttons button {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 8px;
  color: white;
}
.systemRole .formSystemRole .buttons button[type=submit] {
  background: #13B8A6;
}
.systemRole .formSystemRole .buttons #dismissRole {
  background: #525459;
}

.folderBtn.opened .folderItems {
  display: flex;
}

.folderBtn .buttonOpen {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  padding: 16px 20px;
  align-items: center;
  border: none;
}
.folderBtn .buttonOpen .firstRow {
  gap: 10px;
  display: flex;
  align-items: center;
}
.folderBtn .buttonOpen .hoverItems.active .dropdownButton {
  transform: rotate(-180deg);
}
.folderBtn .buttonOpen:hover {
  background: #1D2129;
}

.addChatIcon {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  padding: 16px 20px;
  margin-bottom: 14px;
  justify-content: space-between;
}
.addChatIcon .firstRow {
  display: flex;
  gap: 10px;
}
.addChatIcon .hoverItems {
  opacity: 0;
  display: flex;
  gap: 5px;
}
.addChatIcon button.buttonTool {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: none;
}
.addChatIcon:hover {
  background: #1D2129;
}
.addChatIcon:hover .hoverItems {
  opacity: 1;
}
.addChatIcon *.nonActive {
  display: none;
}

.mainWrapper {
  position: fixed;
  padding: 0px 430px;
  top: 0px;
  padding-top: 78px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.prompts {
  display: flex;
  gap: 16px;
}

button.promptBtn {
  text-align: center;
  padding: 8px 20px;
  height: 40px;
  background: #101F25;
  color: #13B8A6;
  border: none;
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
}

.welcome-chat-wrapper {
  height: 100%;
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.welcome-chat-wrapper .welcome-chat-wrapper {
  max-width: 690px;
}
.welcome-chat-wrapper svg {
  margin-bottom: 24px;
}
.welcome-chat-wrapper h2 {
  margin-bottom: 16px;
}
.welcome-chat-wrapper span {
  color: white;
  font-size: 12px;
}
.welcome-chat-wrapper .welcome-chat {
  max-width: 690px;
  margin: 0 auto;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: none;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #2b2c34;
  color: #d9d9d9;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  max-width: 100%;
  overflow-x: hidden;
  background: #0F131B;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #2b2c34;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #444654;
}

.msg {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 24px 30px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-header {
  display: Flex;
  color: white;
  gap: 10px;
  font-size: 14px;
  align-items: center;
  padding-bottom: 16px;
}

.msg-bubble {
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
}
.msg-bubble .msg-text {
  color: #CFCFCF;
  font-size: 15px;
}
.msg-bubble ul {
  list-style: circle;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  font-weight: bold;
}

.msg-info-time {
  font-size: 10px;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.left-msg .msg-header .msg-info-name {
  color: #13B8A6;
}

.msg .msg-img.user_img {
  background-image: url("../assets/user.jpg");
}
.msg .msg-img.bot_img {
  background-image: url("../assets/botlogo.jpg");
}

.messageInput {
  background: #0F131B;
  padding: 28px 40px 20px 40px;
  border-top: 1px solid #2A2F39;
}

.tokensSpent {
  display: flex;
  justify-content: flex-end;
  color: #CFCFCF;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
}

.msger-inputarea {
  display: flex;
  position: relative;
  padding: 8px 0px 10px 0px;
  border-top: var(--border);
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-inputarea * svg {
  padding: 0px;
}

.msger-input {
  flex: 1;
  background: #191F29;
  border: 1px solid #374151;
  color: #757D8A;
  border: 1px solid #374151;
  border-radius: 8px;
  max-height: 84px;
  max-width: 100%;
  width: 100%;
  min-height: 84px;
}

.msger-send-btn {
  margin-left: 10px;
  background: #69707a;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  background: linear-gradient(180deg, #13B8A6 0%, #0A897B 100%);
  box-shadow: 0px 10px 30px rgba(19, 184, 166, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.msger-send-btn:hover {
  background: #4c5563;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100%;
  width: 150px;
  background-color: #202123;
  padding-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Styles for the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  height: 100%;
}

/* Styles for the first tab */
#tab1 {
  display: block;
}

.sidebar-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;
  cursor: auto;
}

#delete-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgb(255, 255, 255);
  text-decoration: underline;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 78px;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
}
.popup .popupContent {
  background: #0F131B;
  width: 100%;
  height: 100%;
}
.popup .popupContent .popup-inner {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  padding-top: 40px;
}
.popup .popupContent .popup-inner .popup-title {
  margin-bottom: 30px;
  color: #A2A2A3;
  font-weight: 600;
  font-size: 22px;
}
.popup .popupContent .popup-inner .closeBtnBuy {
  position: absolute;
  top: 40px;
  right: -37px;
  z-index: 0;
}
.popup .popupContent .popup-inner .closeBtnBuy button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 10px 10px 0px;
  border: none;
  width: 38px;
  height: 38px;
}

.popup-settings {
  display: flex;
  gap: 30px;
}

.popup-setting {
  width: 100%;
  max-width: 306.67px;
}
.popup-setting .popup-setting-title {
  color: #A2A2A3;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 10px;
}

.popup-setting-content {
  height: 50px;
  border: 1px solid #2A2F39;
  border-radius: 10px;
  background: none;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.popup-setting-content button {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  height: 38px;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  color: white;
}
.popup-setting-content button.active {
  background: #13B8A6;
}
.popup-setting-content.withoutBorder {
  gap: 0px;
  border: none;
  justify-content: space-between;
  padding: 0px;
}
.popup-setting-content.withoutBorder .modelSettings {
  width: 100%;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  height: 50px;
  background: #1D2129;
  padding: 16px 20px;
}
.popup-setting-content.withoutBorder .modelSettings .firstRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.popup-setting-content.withoutBorder .modelSettings .secondRow {
  display: flex;
  gap: 10px;
}
.popup-setting-content.withoutBorder .modelSettings .secondRow button {
  width: 18px;
  height: 18px;
  padding: 0px;
}
.popup-setting-content.withoutBorder input {
  font-size: 12px;
  border: none;
  color: white;
  background: none;
  outline: none;
}
.popup-setting-content.withoutBorder button {
  justify-content: space-between;
  height: 50px;
  background: #1D2129;
  padding: 16px 20px;
}
.popup-setting-content.withoutBorder button .firstRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-save {
  width: 100%;
}
.button-save button {
  width: 100%;
  height: 39px;
  background: linear-gradient(180deg, #13B8A6 0%, #0A897B 100%);
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.popup-setting-desc {
  font-size: 10px;
  color: rgba(162, 162, 163, 0.4);
  padding-top: 10px;
}

#pay-popup .popupContent {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pay-popup .popupContent .popup-inner {
  max-width: 650px;
  background: #000000;
  height: 100%;
  width: 100%;
  max-height: 515px;
  padding: 40px;
  border-radius: 20px;
}
#pay-popup .popupContent .popup-inner .popup-title {
  text-align: center;
}
#pay-popup .popupContent .popup-inner .pay-popup-wrapper {
  padding: 20px;
  color: white;
  background: #1D2129;
  border-radius: 10px;
}
#pay-popup .popupContent .popup-inner .pay-popup-wrapper .pay-popup-wrapper-title {
  text-align: center;
  color: #A2A2A3;
  font-size: 12px;
  padding-bottom: 10px;
}
#pay-popup .popupContent .popup-inner .pay-popup-wrapper .finalPrice {
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  margin-bottom: 16px;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
  height: 16px;
  -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #13B8A6;
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 8px);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #111419;
  box-shadow: none;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  border-color: #9a9a9a;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#13B8A6, #13B8A6) 0/var(--sx) 100% no-repeat, #111419;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #13B8A6;
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 2px black;
}

input[type=range].styled-slider::-moz-range-track {
  height: max(1em - 1px - 1px, 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #111419;
  box-shadow: none;
}

input[type=range].styled-slider:hover::-moz-range-track {
  border-color: #9a9a9a;
}

input[type=range].styled-slider:active::-moz-range-track {
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#13B8A6, #13B8A6) 0/var(--sx) 100% no-repeat, #111419;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #13B8A6;
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #111419;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider:hover::-ms-track {
  border-color: #9a9a9a;
}

input[type=range].styled-slider:active::-ms-track {
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(1em - 1px - 1px, 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #13B8A6;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

.howMuch {
  display: flex;
  gap: 30px;
}
.howMuch .howMuch-step {
  width: 100%;
}
.howMuch .howMuch-step.first {
  width: 60%;
}
.howMuch .howMuch-step.first .howMuchInner {
  background: none;
  padding: 0px;
}
.howMuch .howMuch-step .howMuchInner {
  background: #111419;
  border-radius: 10px;
  padding: 16px 10px;
}
.howMuch .howMuch-step .howMuchInner .howMuchIn {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;
}
.howMuch .howMuch-step .howMuchInner .howMuchIn .words, .howMuch .howMuch-step .howMuchInner .howMuchIn .papers {
  display: flex;
  align-items: center;
  gap: 4px;
}
.howMuch .howMuch-step .howMuch-title {
  font-size: 12px;
  color: #A2A2A3;
  padding-bottom: 10px;
}
.howMuch .howMuch-step .howMuchTokens {
  font-size: 32px;
  font-weight: 700;
}

.buyBtn {
  padding-top: 20px;
}
.buyBtn button {
  height: 55px;
  color: #DADADA;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  background: #111419;
  border: 1px solid #2C3139;
  border-radius: 10px;
  width: 100%;
}

.folderBtn {
  margin-bottom: 14px;
}

.folderItems {
  display: none;
  flex-direction: column;
  margin-top: 14px;
  padding: 0px 0px 0px 38px;
}

button.add-chat {
  border-radius: 10px;
  height: 50px;
  color: white;
  width: 100%;
  border: none;
  background: none;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  display: flex;
  padding: 16px 20px;
}
button.add-chat:hover {
  background: #1D2129;
}

.buttonOpen {
  display: flex;
  justify-content: space-between;
  width: 100%;
}/*# sourceMappingURL=main.css.map */